@model AgendaMeMVC3.Models.Promocao

@{
    ViewBag.Title = "Edit";
}

<h2 class="admtitle2"><a href="#">Editar Promoção</a></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Promoção</legend>

        @Html.HiddenFor(model => model.CdPromocao)

        <div class="editor-label">
            Estabelecimento
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CdEstabelecimento, ViewData["LstEstabelecimento"] as SelectList)
            @Html.ValidationMessageFor(model => model.CdEstabelecimento)
        </div>

        <div class="editor-label">
            Promoção
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DsNome)
            @Html.ValidationMessageFor(model => model.DsNome)
        </div>

        <div class="editor-label">
            Data Cadastro
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DtCadastro)
            @Html.ValidationMessageFor(model => model.DtCadastro)
        </div>
        
        <div class="editor-label">
           Válido De:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DtInicio)
            @Html.ValidationMessageFor(model => model.DtInicio)
        </div>

        <div class="editor-label">
            Até:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DtFim)
            @Html.ValidationMessageFor(model => model.DtFim)
        </div>


        <p>
            <button class="button" type="submit">Salvar</button>
            @*<input type="submit" value="Salvar" />*@
        </p>
    </fieldset>
}

<div class="voltar">
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
