@model AgendaMeMVC3.Models.Pacote

@{
    ViewBag.Title = "Edit";
}

<h2 class="admtitle2"><a href="#">Editar Pacote</a></h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Pacote</legend>

        @Html.HiddenFor(model => model.CdPacote)

        <div class="editor-label">
            Pacote
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DsPacote)
            @Html.ValidationMessageFor(model => model.DsPacote)
        </div>

        <div class="editor-label">
           Valor
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NrValor)
            @Html.ValidationMessageFor(model => model.NrValor)
        </div>

        <p>
            <button class="button" type="submit">Salvar</button>
            @*<input type="submit" value="Salvar" />*@
        </p>
    </fieldset>
}

<div class="voltar">
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
